﻿@using AntDesign.Pro.Template.Components
@using Veayo24._PS.Client.Services.Interfaces
@inject IUserService _userService
@inject NavigationManager nav

@inherits LayoutComponentBase


<BasicLayout Logo="@("https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg")"
             MenuData="@(MenuData.ToArray())" NavTheme="@MenuTheme.Light" ContentWidth="Fluid"
             FixSiderbar="true" PrimaryColor="dust" HeaderRender="true" MenuRender="true"
             MenuHeaderRender="true" ColorWeak="false" SiderWidth="256" Title="School System">
    <RightContentRender>
        <RightContent />
    </RightContentRender>
    <ChildContent>
        @Body
    </ChildContent>
    <FooterRender>
        <FooterView Copyright="2021 Ant Design Blazor"></FooterView>
    </FooterRender>
</BasicLayout>
<SettingDrawer />

@code {
    public bool IsLogin = true;
    public string token = "";
    bool collapsed;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
    void toggle()
    {
        collapsed = !collapsed;

        StateHasChanged();
        Console.WriteLine(collapsed);
    }
    void OnCollapse(bool isCollapsed)
    {
        StateHasChanged();
        Console.WriteLine($"Collapsed: {isCollapsed}");
    }
    protected override async Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        token = await _userService.GetToken();
        IsLogin = !string.IsNullOrEmpty(token);

        //await LoadMenuAsync();
    }

    private void onButtonClick()
    {
        if (IsLogin)
        {
            Console.WriteLine(token);
            _userService.ClearToken();
            nav.NavigateTo(nav.Uri, forceLoad: true);
        }
        else
        {
            nav.NavigateTo("/Login");
        }
    }
}