﻿.title {
    text-align: center;
    padding-bottom: 15px;
}

.form {
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -190px 0 0 -190px;
    width: 380px;
    height: 320px;
    padding: 36px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
}

    .form button {
        width: 100%;
    }

    .form p {
        color: rgb(204, 204, 204);
        text-align: center;
        margin-top: 16px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }

.logo img {
    width: 40px;
    margin-right: 8px;
}

.logo span {
    vertical-align: text-bottom;
    font-size: 16px;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
}

.ant-spin-container,
.ant-spin-nested-loading {
    height: 100%;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.ant-col-24.ant-form-item-label {
    padding: 0px;
}

.remember-me {
    margin-bottom: 5px;
}
