﻿@page "/login"
@layout EmptyLayout
@inject Veayo24._PS.Client.Services.Interfaces.IUserService _userService
@inject NavigationManager NavigationManager
@using AntDesign
@using System.Text.Json;
@inject ModalService _modalService
<div class="form">
    <div class="title">
        <h3>School Management System</h3>
    </div>
    <Form Model="@model" LabelColSpan="24"
          class="login-form" OnFinish="OnFinish">
        <FormItem>
            <Input @bind-Value="@context.UserName" Placeholder="User Name" />
        </FormItem>
        <FormItem>
            <InputPassword @bind-Value="@context.Password" Placeholder="Password" />
        </FormItem>
        <FormItem NoStyle="true" Style="margin-bottom:15px;">
            <Checkbox @bind-Value="@context.RememberMe">Remember me</Checkbox>
        </FormItem>
        <FormItem>
            <Button Icon="@IconType.Outline.Login"
                    type="@ButtonType.Primary"
                    HtmlType="submit"
                    class="login-form-button"
                    Loading="@Loading">
                Login
            </Button>
            <a class="login-form-forgot" href="" style="margin-top:5px;float:right">
                Forgot password
            </a>
        </FormItem>
    </Form>

</div>

@code {


}
