﻿@using Veayo24._PS.Client.Components
@using Veayo24._PS.Client.Models.Users
@using Veayo24._PS.Client.Resources

@inherits BaseModal

<Modal Visible="@Visible" OnCancel="@OnCancel" Title="Create User" OkText="@(AppResource.ButtonSave)" OnOk="@OnOkHandler">
    <Form TModel="@UserModel" Model="@Model" LabelColSpan="6" WrapperColSpan="14" @ref="_form" OnFinish="@OnFinish">
        <FormItem Label="@AppResource.ColumnFullName">
            <Input @bind-Value="@context.FullName" />
        </FormItem>
        <FormItem Label="@AppResource.ColumnUserName">
            <Input @bind-Value="@context.UserName" />
        </FormItem>
        <FormItem Label="@AppResource.ColumnPassword">
            <InputPassword @bind-Value="@context.Password" />
        </FormItem>
        <FormItem Label="@AppResource.ColumnRole">
            <SelectRoleComponent @bind-Value="@context.UserRoleId" />
        </FormItem>
    </Form>
</Modal>

@code {
    //prop
    Form<UserModel> _form;

    [Parameter]
    public UserModel Model { get; set; } = new UserModel();
    [Parameter]
    public EventCallback<UserModel> OnCreateSubmit { get; set; }
    [Parameter]
    public EventCallback<UserModel> OnUpdateSubmit { get; set; }

    public void OnOkHandler()
    {
        _form.Submit();
    }

    private async Task OnFinish()
    {
        Console.WriteLine(Model.UserRoleId);
        if (Model.Id != null)
            await OnCreateSubmit.InvokeAsync(Model);
        else
            await OnUpdateSubmit.InvokeAsync(Model);
    }

    public override async Task OnClear()
    {
        await base.OnClear();
        Model = new UserModel();
    }

}
