﻿@page "/user"
@using System.Data
@using AntDesign.TableModels
@using Veayo24._PS.Client.Components
@using Veayo24._PS.Client.Models.Users
@using Veayo24._PS.Client.Resources
<UserFormComponent Visible="@ModalVisible"
                   OnVisibleChanged="@((val)=>{ModalVisible = val;})"
                   OnCreateSubmit="@((val)=>{ Console.WriteLine(val.FullName); })" />
<Card>
    <TitleTemplate>
        <InputSearch OnSearch="SearchAsync" />
    </TitleTemplate>
    <Extra>
        <Button Type="primary" OnClick="@(()=>{ModalVisible = true;})">Create</Button>
    </Extra>
    <Body>
        <Table TItem="@UserModel"
               DataSource="@PageData.DataList"
               PageIndex="@Page.PageId"
               PageSize="@Page.Result"
               Total="@PageData.AllItemCount"
               Size="TableSize.Small"
               Loading="@ListLoading">
            <Column Title="@AppResource.ColumnFullName" @bind-Field="@context.FullName"></Column>
            <Column Title="@AppResource.ColumnUserName" @bind-Field="@context.UserName"></Column>
            <Column Title="@AppResource.ColumnRole" @bind-Field="@context.Role"></Column>
            <ActionColumn Width="120" Title="Action" Align="ColumnAlign.Right">
                <ActionButton TModel="@UserModel" Model="@context" OnRemove="RowRemoveAsync" />
            </ActionColumn>
        </Table>
    </Body>
</Card>
